<div class="d-flex align-items-center mb-3">
  <h1 class="h1 mr-2"><%= t('memberships.new') %></h1>
  <%= link_to t('actions.cancel'), @member, class: 'btn btn-light' %>
</div>

<%= render 'form', member: @member, membership: @membership %>
