<div class="d-flex align-items-center mb-3">
  <h1 class="h1 mr-2"><%= @member.full_name %></h1>
  <%= link_to t('actions.cancel'), admin_member_path(@member), class: 'btn btn-light' %>
</div>

<%= render 'form', member: @member %>
