<% if resource.errors.any? %>
  <div class="alert alert-warning" role="alert">
    <strong><%= t('errors.messages.saving_failed', count: resource.errors.count) %></strong>
    <hr />
    <ul>
    <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
