<div class="d-flex align-items-center mb-3">
  <h1 class="h1 mr-2"><%= @producer.name %></h1>
  <%= link_to t('actions.cancel'), admin_producer_path(@producer), class: 'btn btn-light' %>
</div>

<%= render 'form', producer: @producer %>
