<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="<%= t('actions.close') %>">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning" role="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="<%= t('actions.close') %>">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
