<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <%= link_to t('project.name_html'), root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="<%= t('actions.toggle_menu') %>">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbars">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to t('navbar.go_to_admin'), new_user_session_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
