<div class="d-flex align-items-center mb-3">
  <h1 class="h1 mr-2"><%= t('farmers.new') %></h1>
  <%= link_to t('actions.back_to_the_list'), farmers_path, class: 'btn btn-light' %>
</div>

<%= render 'form', farmer: @farmer %>
