// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "../bootstrap-custom";
@import "bootstrap-custom";
@import "bootstrap";

html {
  height: 100%;
}

body {
  border: 25px solid black;
  min-height: 100%;
  padding: 15px;
  margin-bottom: 50px;
}

header {
  text-align: center;
}

@media print {
  body {
    border: 0;
    margin: 0;
  }

  .container {
    max-width: 90%;
  }

  .card {
    border: 0;
  }

  .navbar,
  .card-footer {
    display: none;
  }
}
