@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";

.ql-snow.ql-toolbar {
  .ql-placeholder {
    width: 125px;
    .ql-picker-label::before {
      content: "Informations…";
    }
    .ql-picker-item[data-value='producer']::after {
      content: "producteur";
    }
    .ql-picker-item[data-value='member']::after {
      content: "membre";
    }
  }
}
