<div class="d-flex align-items-center mb-3">
  <h1 class="h1 mr-2"><%= t('producers.new') %></h1>
  <%= link_to t('actions.back_to_the_list'), producers_path, class: 'btn btn-light' %>
</div>

<%= render 'form', producer: @producer %>
